{% assign ratingsPlus = product.metafields.automizely_reviews.ratings | plus:0 %}
{% if shop.metafields.automizely_reviews.show_stars_under_product_name == 'true' and ratingsPlus > 0 %}
  {% assign ratings = product.metafields.automizely_reviews.ratings %}
  {% assign fulfillStar = ratings | floor %}
  {% assign emptyStar = 5 | minus: ratings | floor %}
  {% assign partiallyFulfillStar = ratings | minus: fulfillStar | times: 100 %}
  {% assign starSize = size | default: 20 %}
  {% assign fontSize = size | default: 20 %}
  {% assign starColor = shop.metafields.automizely_reviews.star_color | default: '#FFB303' %}
  {% assign starFontColor = shop.metafields.automizely_reviews.star_font_color | default: '#212B36' %}
  {% assign blockAlign = blockAlign | default: 'flex-start' %}
  {% assign min = 1 %}
  {% assign max = 100000 %}
  {% assign diff = max | minus: min %}
  {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}

  {% capture count %}
{{ fulfillStar }},{% if partiallyFulfillStar != 0%}1{% else %}0{% endif %}},{{ emptyStar }}
{% endcapture %}

  {% capture percentage %}
100,{{ partiallyFulfillStar }},0
{% endcapture %}

  {% assign count = count | split: ',' %}
  {% assign percentage = percentage | split: ',' %}

  <a
    style="--rating-size:100px;display:flex;justify-content:{{blockAlign}};align-items:center; cursor: pointer;color: #000; text-decoration: none;{% if anchor == false %}pointer-events: none;{% endif %}"
    class="asrv-star-widget"
    href="#am-reviews-carousel-shadow-container-production"
  >
    {% for c in count %}
      {% for p in (1..c) %}
        <div style="width: {{ starSize  }}px; height: {{ starSize }}px; display: flex;">
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 24 24"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <defs>
             <clipPath id="clip_{{ forloop.parentloop.index0 }}_{{ forloop.index0 }}_{{ randomNumber }}">
              <path
               d="M12,0.145898039 L8.47328849,7.29179607 L0.587321804,8.43769411 L6.2936609,14 L4.94657697,21.854102 L12,18.145898 L19.053423,21.854102 L17.7063391,14 L23.4126782,8.43769411 L15.5267115,7.29179607 L12,0.145898039 Z"
              />
             </clipPath>
            </defs>
            <rect
             x="0"
             y="0"
             width="24"
             height="24"
             clip-path="url(#clip_{{ forloop.parentloop.index0 }}_{{ forloop.index0 }}_{{ randomNumber }})"
             style="fill: #DFE3E8;"
            />
            <rect
             x="0"
             y="0"
             width="{{ percentage[forloop.parentloop.index0] }}%"
             height="24"
             clip-path="url(#clip_{{ forloop.parentloop.index0 }}_{{ forloop.index0 }}_{{ randomNumber }})"
             style="fill: {{ starColor }}"
            />
          </svg>
        </div>
      {% endfor %}
    {% endfor %}
    <p style="font-size: {{ fontSize }}px;margin:0;color:{{ starFontColor }}">({{ product.metafields.automizely_reviews.raters }})</p>
  </a>
{% endif %}