{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
MEGA MENU PANEL
----------------------------------------------------------------------------------------------------------------------

This component is used to show the different links in different panel for the menu drawer

********************************************
Supported variables
********************************************

* main_menu: the menu to show for the primary menu
* secondary_menu: the secondary menu (shown on mobile)
* mega_menu_block: use when mega menu is set to drawer
* is_mega_menu: set to true if mega menu is set to drawer
* layout
{%- endcomment -%}
<style>
  .panel__wrapper li.h3.sm\:h4>span,
  .panel__wrapper li.h3.sm\:h5>span{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .panel__wrapper li.h3.sm\:h4>span a,
  .panel__wrapper li.h3.sm\:h5>span a{
    display: block;
  }
  .xs-menucat-icon{
    width: var(--spacing-6);
  }
  @media screen and (min-width: 1149px){
    .panel__wrapper li.h3.sm\:h4>span,
    .panel__wrapper li.h3.sm\:h5>span{
      align-items: center;
    }
  }
</style>
<div class="panel-list__wrapper">
  <div class="panel">
    <div class="panel__wrapper" {% if mega_menu_block.settings.promo_content_layout == 'grid' or mega_menu_block.settings.promo_content_layout == 'collage' %}style="--panel-wrapper-justify-content: flex-start"{% endif %}>
      <div class="panel__scroller v-stack gap-8">
        {%- if is_mega_menu -%}
          <button is="close-button" aria-label="{{ 'general.accessibility.close' | t | escape }}" {%- if section.settings.opening_from == 'bottom' -%}class="sm-max:hidden"{%- endif -%}>
            {%- render 'icon' with 'close', width: 19, height: 19 -%}
          </button>
        {%- endif -%}

        <ul class="v-stack gap-4">
          {%- for link in main_menu.links -%}
            {%- unless is_mega_menu -%}
              {% liquid
                assign link_title_downcase = link.title | downcase
                assign mega_menu_block = ''
                assign is_image_shown = false

                for block in section.blocks
                  assign menu_item_downcase = block.settings.menu_item | strip | downcase

                  if menu_item_downcase == link_title_downcase
                    assign mega_menu_block = block

                  if block.settings.drawer_link_image == 'show'
                    assign is_image_shown = true
                    break
                  endif

                    break
                  endif
                endfor %}

            {%- else -%}
              {%- assign is_image_shown = false -%}

              {%- if mega_menu_block.settings.drawer_link_image == 'show' -%}
                {%- assign is_image_shown = true -%}
              {%- endif -%}

            {%- endunless -%}

            <li class="h3 sm:h4">
              {%- if link.links.size > 0 or mega_menu_block != '' and is_mega_menu == false -%}
                {% comment %}
                <button class="text-with-icon w-full group justify-between" aria-expanded="false" data-panel="1-{% increment level_1 %}">
                  <span>{{ link.title }}</span>
                  <span class="circle-chevron group-hover:colors group-expanded:colors">{%- render 'icon' with 'chevron-right-small', direction_aware: true -%}</span>
                </button>
                {% endcomment %}
                <span>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                  <button class="xs-menucat-icon text-with-icon group justify-between abcd" aria-expanded="false" data-panel="1-{% increment level_1 %}">
                    <span class="circle-chevron group-hover:colors group-expanded:colors">{%- render 'icon' with 'chevron-right-small', direction_aware: true -%}</span>
                  </button>
                </span>
              {%- else -%}
                <a href="{{ link.url }}" class="group block w-full">
                  <span><span class="reversed-link">{{ link.title }}</span></span>
                </a>
              {%- endif -%}
            </li>

            {%- if link.links.size > 0 or mega_menu_block != '' and is_mega_menu == false -%}
              {%- capture link_level_2 -%}
                {{- link_level_2 -}}

                <div class="panel__wrapper" {% if mega_menu_block.settings.promo_content_layout == 'grid' or mega_menu_block.settings.promo_content_layout == 'collage' %}style="--panel-wrapper-justify-content: flex-start"{% endif %} hidden>
                  <ul class="v-stack {% if is_mega_menu and is_image_shown == 'show' %}gap-3{% else %}gap-4{% endif %}">
                    <li class="{% if layout != 'drawer' %}lg:hidden{% endif %}">
                      <button class="text-with-icon h6 text-subdued" data-panel="0">
                        {%- render 'icon' with 'chevron-left', direction_aware: true -%} {{ link.title }}
                      </button>
                    </li>

                    {%- if link.links.size > 0 -%}
                      {%- for sub_link in link.links -%}
                        <li class="h3 {% if is_mega_menu %}sm:h5{% else %}sm:h4{% endif %}">
                          {%- if sub_link.links.size > 0 -%}
                            {% comment %}
                            <button class="text-with-icon w-full justify-between" aria-expanded="false" data-panel="2-{% increment level_2 %}">
                              <span>{{ sub_link.title }}</span>
                              <span class="circle-chevron group-hover:colors group-expanded:colors">{%- render 'icon' with 'chevron-right-small', direction_aware: true -%}</span>
                            </button>
                            {% endcomment %}
                             <span>
                              <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                              <button class="text-with-icon justify-between" aria-expanded="false" data-panel="2-{% increment level_2 %}">
                                <span class="circle-chevron group-hover:colors group-expanded:colors">{%- render 'icon' with 'chevron-right-small', direction_aware: true -%}</span>
                              </button>
                            </span>
                          {%- else -%}
                            <a class="group {% if is_image_shown and is_mega_menu %}h-stack gap-4{% else %}block w-full{% endif %}" href="{{ sub_link.url }}">
                              {%- if is_image_shown and sub_link.object != blank and is_mega_menu -%}
                                {%- assign sub_link_image = '' -%}

                                {%- case sub_link.type -%}
                                  {%- when 'collection_link' -%}
                                    {%- assign sub_link_image = sub_link.object.products.first.featured_media -%}

                                  {%- when 'product_link' -%}
                                    {%- assign sub_link_image = sub_link.object.featured_media -%}

                                  {%- when 'blog_link' -%}
                                    {%- assign sub_link_image = sub_link.object.articles.first.image -%}

                                  {%- when 'article_link' -%}
                                    {%- assign sub_link_image = sub_link.object.image -%}
                                {%- endcase -%}

                                {%- if sub_link_image != '' -%}
                                  {{- sub_link_image | image_url: width: 120 | image_tag: loading: 'lazy', sizes: '60px', widths: '120', class: 'panel-link__image rounded' -}}
                                {%- endif -%}
                              {%- endif -%}

                              <span>
                                <span class="reversed-link">{{ sub_link.title }}</span>
                                {% if sub_link.title == 'Calming Candy Tabs' or sub_link.title == 'Calming Gel Pen' %}
                                  <svg width="14" height="16" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="blink_text"><path d="M7.82278 13C7.15492 12.948 6.5898 12.636 6.28156 12.0639C6.23018 11.9599 6.23018 11.9599 6.17881 12.0639C5.45957 13.26 3.8156 13.26 3.04498 12.0639C2.99361 12.0119 2.99361 11.9599 2.94223 11.9599C2.17162 11.6479 1.70925 10.9198 1.76063 10.0878C1.76063 10.0358 1.76063 9.98375 1.70925 9.93175C0.990014 9.4117 0.784517 8.42362 1.24688 7.69556C1.29826 7.64355 1.29826 7.59155 1.24688 7.53955C0.887265 6.86349 0.990014 6.13543 1.45238 5.56338C1.50376 5.51138 1.50376 5.51138 1.50376 5.40737C1.29826 4.52329 1.86338 3.69122 2.73674 3.48321C2.78811 3.48321 2.83949 3.4312 2.78811 3.3792C2.63399 2.75515 2.89086 2.1831 3.45598 1.87107C3.55872 1.87107 3.6101 1.76706 3.66147 1.71506C4.12384 1.40303 4.58621 1.14301 5.15133 1.039C5.4082 0.986999 5.61369 0.986999 5.81919 1.039C6.02469 1.09101 6.23018 1.19502 6.38431 1.40303C6.43568 1.45504 6.43568 1.45504 6.48705 1.40303C6.7953 1.09101 7.10354 0.986999 7.51454 1.09101C8.02828 1.19502 8.43927 1.40303 8.85027 1.66306C9.00439 1.76706 9.15851 1.87107 9.31264 1.97508C9.41538 2.07909 9.51813 2.07909 9.62088 2.1831C9.9805 2.49512 10.1346 3.01517 9.9805 3.48321C9.9805 3.53521 9.9805 3.58722 10.0319 3.58722C10.7511 3.79523 11.2135 4.41929 11.2649 5.09534C11.2649 5.25135 11.2649 5.45937 11.2135 5.61538C11.2135 5.66739 11.2135 5.71939 11.2649 5.7714C11.6758 6.29144 11.7786 6.91549 11.5217 7.53955C11.5217 7.53955 11.5217 7.53955 11.5217 7.59155C11.3676 7.74756 11.419 7.90358 11.5217 8.05959C11.83 8.78765 11.5731 9.67172 10.9052 10.0878C10.7511 10.1398 10.7511 10.1918 10.7511 10.2958C10.7511 11.1278 10.2887 11.8559 9.51813 12.1159C9.46676 12.1159 9.46676 12.1679 9.41538 12.1679C9.10714 12.636 8.64477 12.896 8.07966 13C7.97691 13 7.87416 13 7.82278 13ZM4.27796 1.81907C4.38071 1.87107 4.48346 1.87107 4.53483 1.92308C4.74033 2.07909 4.94583 2.2351 5.04858 2.49512C5.09995 2.59913 5.04858 2.70314 4.94583 2.75515C4.84308 2.80715 4.74033 2.75515 4.68896 2.65114C4.68896 2.59913 4.63758 2.59913 4.63758 2.54713C4.43209 2.1831 3.96972 2.07909 3.6101 2.2351C3.25048 2.44312 3.04498 2.85915 3.14773 3.22319C3.1991 3.32719 3.25048 3.4312 3.35323 3.4312C4.17522 3.58722 4.74033 4.31528 4.74033 5.09534C4.74033 5.19935 4.63758 5.30336 4.53483 5.30336C4.43209 5.30336 4.32934 5.19935 4.32934 5.09534C4.32934 5.04334 4.32934 4.99133 4.32934 4.88732C4.22659 4.15926 3.55872 3.69122 2.83949 3.84724C2.12025 4.00325 1.70925 4.73131 1.91475 5.45937C1.96612 5.61539 1.91475 5.71939 1.812 5.8234C1.50376 6.08342 1.40101 6.44745 1.45238 6.86349C1.50376 7.43554 2.0175 7.90358 2.63399 7.90358C2.68536 7.90358 2.78811 7.95558 2.78811 8.00758C2.83949 8.05959 2.83949 8.1636 2.78811 8.2156C2.73674 8.31961 2.68536 8.31961 2.58261 8.31961C2.22299 8.31961 1.91475 8.1636 1.6065 7.95558C1.50376 7.90358 1.50376 7.90358 1.50376 8.00758C1.19551 8.57963 1.45238 9.30769 2.0175 9.61972C2.17162 9.72373 2.22299 9.77573 2.17162 9.93175C2.06887 10.6078 2.47987 11.3359 3.14773 11.5439C3.25048 11.5959 3.30185 11.6479 3.35323 11.6999C3.66147 12.2719 4.27796 12.584 4.89445 12.428C5.56232 12.2719 6.02469 11.6999 6.02469 11.0238C6.07606 9.72373 6.07606 8.37161 6.12744 7.07151C6.12744 6.23944 6.17881 5.35536 6.17881 4.52329C6.17881 4.31528 6.12744 4.10726 5.92194 3.95125C5.81919 3.89924 5.71644 3.89924 5.56232 3.89924C5.45957 3.89924 5.35682 3.79523 5.35682 3.69122C5.35682 3.58722 5.45957 3.48321 5.56232 3.48321C5.76782 3.48321 5.92194 3.53521 6.07606 3.63922L6.12744 3.69122C6.12744 3.11918 6.17881 2.59913 6.17881 2.02709C6.17881 1.66306 5.92194 1.40303 5.51094 1.40303C5.09995 1.40303 4.68896 1.61105 4.27796 1.81907ZM6.43568 9.98375C6.48705 9.93174 6.48705 9.93175 6.48705 9.93175C6.74393 9.67172 7.05217 9.46371 7.41179 9.3597C7.51454 9.30769 7.61729 9.4117 7.66866 9.51571C7.72004 9.61972 7.66866 9.72373 7.51454 9.77573C7.46316 9.77573 7.46316 9.77573 7.41179 9.82774C6.74393 10.0358 6.33293 10.7118 6.43568 11.3879C6.48705 11.9599 6.94942 12.48 7.51454 12.636C8.13103 12.792 8.74752 12.532 9.05576 12.0119C9.10714 11.9079 9.20989 11.8559 9.31264 11.8039C9.9805 11.5959 10.3915 10.9198 10.2887 10.2438C10.2374 10.0358 10.2887 9.98375 10.4429 9.93175C11.008 9.67172 11.2649 8.99567 11.0594 8.42362C11.008 8.26761 11.008 8.26761 10.8539 8.37161C10.597 8.57963 10.2887 8.63164 9.92913 8.63164C9.775 8.63164 9.67226 8.47562 9.72363 8.37161C9.775 8.26761 9.82638 8.2156 9.92913 8.2156C10.186 8.2156 10.3915 8.1636 10.597 8.00758C11.2649 7.53955 11.3162 6.65547 10.7511 6.08342C10.7511 5.87541 10.6997 5.7714 10.7511 5.66739C10.8539 5.45937 10.8539 5.25135 10.8025 5.04334C10.7511 4.52329 10.2887 4.10726 9.775 4.00325C9.20989 3.89924 8.69615 4.21127 8.43927 4.73131C8.3879 4.88732 8.33653 5.04334 8.33653 5.19935C8.33653 5.30336 8.23378 5.40737 8.13103 5.40737C8.02828 5.40737 7.92553 5.30336 7.92553 5.19935C7.92553 4.99133 7.97691 4.78332 8.07966 4.5753C8.33653 4.00325 8.79889 3.69122 9.41538 3.63922C9.46676 3.63922 9.51813 3.58722 9.51813 3.53521C9.56951 3.4312 9.62088 3.27519 9.56951 3.11918C9.56951 2.65114 9.10714 2.28711 8.64477 2.33911C8.3879 2.39112 8.13103 2.49512 8.02828 2.75515C7.97691 2.80715 7.92553 2.85915 7.87416 2.85915C7.77141 2.85915 7.72004 2.85916 7.66866 2.75515C7.61729 2.70314 7.61729 2.59913 7.66866 2.54713C7.82278 2.28711 8.07965 2.07909 8.3879 1.97508C8.3879 1.97508 8.43927 1.97508 8.49065 1.92308C8.1824 1.66306 7.82278 1.50704 7.41179 1.45504C6.94942 1.35103 6.64118 1.66306 6.64118 2.07909C6.64118 2.85915 6.5898 3.63922 6.5898 4.41928V4.47129C6.64118 4.47129 6.64118 4.47129 6.64118 4.41928C6.7953 4.31528 7.0008 4.26327 7.15492 4.26327C7.25767 4.26327 7.36042 4.36728 7.36042 4.47129C7.36042 4.5753 7.30904 4.67931 7.20629 4.67931C7.20629 4.67931 7.15492 4.67931 7.10354 4.67931C6.94942 4.67931 6.84667 4.73131 6.74393 4.83532C6.5898 4.99133 6.53843 5.14735 6.53843 5.35536C6.48705 6.86349 6.48705 8.31961 6.43568 9.82774C6.43568 9.87974 6.43568 9.93174 6.43568 9.98375Z" fill="black" stroke="black" stroke-width="0.2"/><path d="M3.09635 7.69557C2.9936 7.69557 2.89085 7.59156 2.89085 7.48755C2.89085 7.38354 2.9936 7.27953 3.09635 7.27953C3.45597 7.27953 3.76421 7.07151 3.86696 6.75949C3.86696 6.70748 3.86696 6.65548 3.81559 6.65548C3.04497 6.49947 2.53123 5.87541 2.47986 5.14735C2.47986 5.09535 2.47986 5.04334 2.47986 5.04334C2.47986 4.93934 2.58261 4.83533 2.68536 4.83533C2.7881 4.83533 2.89085 4.93934 2.89085 5.04334C2.89085 5.25136 2.94223 5.40737 3.04497 5.61539C3.40459 6.34345 4.3807 6.55147 4.94582 5.97942L4.99719 5.92742C5.09994 5.87541 5.20269 5.87541 5.25407 5.92742C5.30544 6.03143 5.30544 6.13544 5.25407 6.18744C4.99719 6.44746 4.74032 6.60347 4.3807 6.65548C4.27796 6.65548 4.27796 6.70748 4.22658 6.75949C4.12383 7.33154 3.61009 7.69557 3.09635 7.69557Z" fill="black" stroke="black" stroke-width="0.2"/><path d="M3.30191 9.5677C3.50741 9.5677 3.50741 9.5677 3.50741 9.41169C3.55879 8.68363 4.22665 8.05957 4.94589 8.00757C4.99726 8.00757 5.04864 8.00757 5.10001 8.00757C5.25413 8.00757 5.35688 8.11158 5.35688 8.21559C5.35688 8.31959 5.25413 8.4236 5.10001 8.4236C4.68902 8.4236 4.3294 8.63162 4.07253 8.99565C3.91841 9.20367 3.86703 9.41169 3.86703 9.67171C3.86703 9.72371 3.86703 9.77572 3.96978 9.82772C4.48352 10.0877 4.74039 10.5038 4.84314 11.0238C4.84314 11.1278 4.84314 11.1798 4.84314 11.2838C4.84314 11.4399 4.74039 11.5439 4.63764 11.5439C4.5349 11.5439 4.43215 11.4399 4.43215 11.2838C4.43215 11.0758 4.38077 10.8678 4.27802 10.7118C4.07253 10.2958 3.71291 10.0877 3.25054 10.0357C3.14779 10.0357 3.04504 9.98373 3.04504 9.87972C3.04504 9.77572 3.09642 9.67171 3.19917 9.67171C3.25054 9.5677 3.30191 9.5677 3.30191 9.5677Z" fill="black" stroke="black" stroke-width="0.2"/><path d="M9.82635 5.25133C9.77498 5.97939 9.26123 6.60344 8.54199 6.75945C8.38787 6.81146 8.38787 6.81146 8.43925 6.96747C8.59337 7.27949 8.79887 7.43551 9.15849 7.48751C9.31261 7.48751 9.36398 7.59152 9.36398 7.69553C9.36398 7.79954 9.26123 7.90355 9.10711 7.85154C8.542 7.79954 8.131 7.43551 7.97688 6.86346C7.97688 6.81146 7.9255 6.75945 7.87413 6.75945C7.56588 6.70745 7.30901 6.55143 7.05214 6.34342C7.00077 6.29141 7.00077 6.29141 6.94939 6.23941C6.89802 6.1354 6.89802 6.03139 7.00077 5.97939C7.10352 5.92738 7.20627 5.92738 7.25764 5.97939C7.41176 6.1354 7.56589 6.23941 7.77138 6.29141C8.54199 6.55143 9.36398 6.03139 9.41536 5.19932C9.41536 4.9913 9.56948 4.88729 9.7236 4.9913C9.82635 5.09531 9.82635 5.14732 9.82635 5.25133Z" fill="black" stroke="black" stroke-width="0.2"/><path d="M7.87422 11.4919C7.9256 10.8679 8.23384 10.3998 8.79896 10.0878C8.90171 10.0358 8.90171 9.98379 8.90171 9.87978C8.90171 9.20372 8.38797 8.68368 7.7201 8.63167C7.61735 8.63167 7.56598 8.63167 7.5146 8.52766C7.46323 8.47566 7.46323 8.37165 7.5146 8.31965C7.56598 8.21564 7.61735 8.21564 7.7201 8.21564C8.02835 8.21564 8.28522 8.31965 8.54209 8.47566C9.00446 8.78768 9.26133 9.25572 9.3127 9.82777C9.3127 9.87978 9.3127 9.93178 9.41545 9.93178C9.46682 9.93178 9.46682 9.93178 9.5182 9.93178C9.62095 9.93178 9.7237 10.0358 9.7237 10.1398C9.7237 10.2438 9.62095 10.3478 9.5182 10.3478C9.36408 10.3478 9.26133 10.3478 9.10721 10.3998C8.64484 10.5558 8.28522 10.9719 8.28522 11.4919C8.28522 11.5439 8.28522 11.5439 8.28522 11.5959C8.28522 11.6999 8.18247 11.7519 8.07972 11.7519C7.97697 11.7519 7.9256 11.6479 7.87422 11.5439C7.87422 11.5439 7.87422 11.5439 7.87422 11.4919Z" fill="black" stroke="black" stroke-width="0.2"/></svg>
                                  {% comment %}<svg width="512" height="512" x="0" y="0" viewBox="0 0 24 24"><g><path fill="#ffc107" d="m23.363 8.584-7.378-1.127L12.678.413c-.247-.526-1.11-.526-1.357 0L8.015 7.457.637 8.584a.75.75 0 0 0-.423 1.265l5.36 5.494-1.267 7.767a.75.75 0 0 0 1.103.777L12 20.245l6.59 3.643a.75.75 0 0 0 1.103-.777l-1.267-7.767 5.36-5.494a.75.75 0 0 0-.423-1.266z" data-original="#ffc107" class=""></path></g></svg>{% endcomment %}
                                {% endif %}
                              </span>
                            </a>
                          {%- endif -%}
                        </li>

                        {%- if sub_link.links.size > 0 -%}
                          {%- capture link_level_3 -%}
                            {{- link_level_3 -}}

                            <div class="panel__wrapper" hidden>
                              <ul class="v-stack {% if is_image_shown %}gap-3{% else %}gap-4{% endif %}">
                                <li class="text-with-icon {% if layout != 'drawer' %}lg:hidden{% endif %}">
                                  <button class="text-with-icon h6 text-subdued" data-panel="1">
                                    {%- render 'icon' with 'chevron-left', direction_aware: true -%} {{ sub_link.title }}
                                  </button>
                                </li>

                                {%- for sub_sub_link in sub_link.links -%}
                                  <li class="{% if mobile_opening == 'left' %}h3{% else %}h5{% endif %} sm:h5">
                                    <a class="group {% if is_image_shown %}h-stack gap-4{% else %}block w-full{% endif %}"
                                       href="{{ sub_sub_link.url }}">
                                      {%- if is_image_shown and sub_sub_link.object != blank -%}
                                        {%- assign sub_sub_link_image = '' -%}

                                        {%- case sub_sub_link.type -%}
                                          {%- when 'collection_link' -%}
                                            {%- assign sub_sub_link_image = sub_sub_link.object.products.first.featured_media -%}

                                          {%- when 'product_link' -%}
                                            {%- assign sub_sub_link_image = sub_sub_link.object.featured_media -%}

                                          {%- when 'blog_link' -%}
                                            {%- assign sub_sub_link_image = sub_sub_link.object.articles.first.image -%}

                                          {%- when 'article_link' -%}
                                            {%- assign sub_sub_link_image = sub_sub_link.object.image -%}
                                        {%- endcase -%}

                                        {%- if sub_sub_link_image != '' -%}
                                          {{- sub_sub_link_image | image_url: width: 104 | image_tag: loading: 'lazy', sizes: '52px', widths: '52,104', class: 'panel-link__image rounded' -}}
                                        {%- endif -%}
                                      {%- endif -%}

                                      <span><span class="reversed-link">{{ sub_sub_link.title }}</span></span>
                                    </a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                          {%- endcapture -%}
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endif -%}
                  </ul>

                  {%- unless is_mega_menu -%}
                    {%- if mega_menu_block != '' -%}
                      {%- render 'navigation-promo-block', navigation_layout: layout, mega_menu_block: mega_menu_block, is_navigation_drawer: true, link_col: link.links.size -%}
                    {%- endif -%}
                  {%- endunless -%}
                </div>
              {%- endcapture -%}
            {%- endif -%}
          {%- endfor -%}
        </ul>

        {%- if secondary_menu != blank -%}
          <ul class="v-stack gap-3">
            {%- for link in secondary_menu.links -%}
              <li>
                <a href="{{ link.url }}" class="h6 group"><span><span class="reversed-link">{{ link.title }}</span></span></a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>

      {%- if is_mega_menu -%}
        {%- render 'navigation-promo-block', navigation_layout: layout, mega_menu_block: mega_menu_block, is_navigation_drawer: true, link_col: link.links.size -%}
      {%- else -%}
        {%- comment -%}
        ----------------------------------------------------------------------------------------------------------------
        SOCIAL MEDIA + LOCALIZATION
        ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        {%- if section.settings.show_social_media -%}
          {%- capture social_media -%}{%- render 'social-media' -%}{%- endcapture -%}
        {%- endif -%}

        {%- if show_country_selector and localization.available_countries.size > 1 -%}
          {%- assign country_selector = true -%}
        {%- endif -%}

        {%- if show_locale_selector and localization.available_languages.size > 1 -%}
          {%- assign locale_selector = true -%}
        {%- endif -%}

        {%- if social_media != blank or country_selector or locale_selector or shop.customer_accounts_enabled -%}
          <div class="panel-footer v-stack gap-5">
            {{- social_media -}}

            {%- if country_selector or locale_selector or shop.customer_accounts_enabled -%}
              <div class="panel-footer__localization-wrapper h-stack gap-6 border-t md:hidden">
                {%- if country_selector -%}
                  {%- render 'localization-selector', type: 'country', show_country_name: show_country_name, show_country_flag: show_country_flag -%}
                {%- endif -%}

                {%- if locale_selector -%}
                  {%- render 'localization-selector', type: 'locale' -%}
                {%- endif -%}

                {%- if shop.customer_accounts_enabled -%}
                  <a href="{{ routes.account_url }}" class="panel-footer__account-link bold text-sm">{{- 'header.general.account' | t -}}</a>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endif -%}
    </div>
  </div>

  {%- if link_level_2 != blank -%}
    <div class="panel gap-8">
      {{ link_level_2 }}
    </div>
  {%- endif -%}

  {%- if link_level_3 != blank %}
    <div class="panel">
      {{ link_level_3 }}
    </div>
  {%- endif -%}
</div>