<price-list {% if form_id %}role="region" aria-live="polite"{% endif %} class="price-list {% if size == 'lg' %}price-list--lg{% endif %} {% if text_alignment == 'center' %}justify-center{% endif %}" {{ block.shopify_attributes }}>
  {%- if variant != blank -%}
    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    VARIANT CASE (used on product page, quick view...)
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}
    <compare-at-price {% if form_id %}form="{{ form_id }}"{% endif %} {% unless variant.compare_at_price > variant.price %}hidden{% endunless %} class="{{ compare_at_price_classes }}">
      <span class="sr-only">{{ 'product.price.regular_price' | t }}</span>

      {%- if settings.currency_code_enabled -%}
        {{- variant.compare_at_price | money_with_currency -}}
      {%- else -%}
        {{- variant.compare_at_price | money -}}
      {%- endif -%}
    </compare-at-price>
    
    <sale-price {% if form_id %}form="{{ form_id }}"{% endif %} class="{% if variant.compare_at_price > variant.price %}{{ on_sale_price_classes }}{% else %}{{ regular_price_classes }}{% endif %}">
      <span class="sr-only">{{ 'product.price.sale_price' | t }}</span>

      {%- if settings.currency_code_enabled -%}
        {{- variant.price | money_with_currency -}}
      {%- else -%}
        {{- variant.price | money -}}
      {%- endif -%}
    </sale-price>

  {%- elsif line_item != blank -%}
    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    LINE ITEM CASE (used on cart, order page...)
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}
    <compare-at-price {% if form_id %}form="{{ form_id }}"{% endif %} {% unless line_item.original_line_price > line_item.final_line_price %}hidden{% endunless %} class="{{ compare_at_price_classes }}">
      <span class="sr-only">{{ 'product.price.regular_price' | t }}</span>

      {%- if settings.currency_code_enabled -%}
        {{- line_item.original_line_price | money_with_currency -}}
      {%- else -%}
        {{- line_item.original_line_price | money -}}
      {%- endif -%}
    </compare-at-price>

    <sale-price {% if form_id %}form="{{ form_id }}"{% endif %} class="{% if line_item.original_line_price > line_item.final_line_price %}{{ on_sale_price_classes }}{% else %}{{ regular_price_classes }}{% endif %}">
      <span class="sr-only">{{ 'product.price.sale_price' | t }}</span>

      {%- if settings.currency_code_enabled -%}
        {{- line_item.final_line_price | money_with_currency -}}
      {%- else -%}
        {{- line_item.final_line_price | money -}}
      {%- endif -%}
    </sale-price>

  {%- else -%}
    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    PRODUCT CASE (used on card)
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}
    <compare-at-price {% if form_id %}form="{{ form_id }}"{% endif %} {% unless product.price > product.compare_at_price %}hidden{% endunless %} class="{{ compare_at_price_classes }}">
      <span class="sr-only">{{ 'product.price.regular_price' | t }}</span>

      {%- if settings.currency_code_enabled -%}
        {{- product.compare_at_price | money_with_currency -}}
      {%- else -%}
        {{- product.compare_at_price | money -}}
      {%- endif -%}
    </compare-at-price>

    <sale-price {% if form_id %}form="{{ form_id }}"{% endif %} class="{% if product.price > product.compare_at_price %}{{ on_sale_price_classes }}{% else %}{{ regular_price_classes }}{% endif %}">
      <span class="sr-only">{{ 'product.price.sale_price' | t }}</span>

      {%- if settings.currency_code_enabled -%}
        {{- product.price | money_with_currency -}}
      {%- else -%}
        {{- product.price | money -}}
      {%- endif -%}
    </sale-price>
  {%- endif -%}

  {%- unless hide_unit_price -%}
    {%- assign unit_price_item = variant | default: line_item | default: product.selected_or_first_available_variant -%}

    {%- if unit_price_item.unit_price or form_id != blank -%}
      <unit-price {% if form_id %}form="{{ form_id }}"{% endif %} {% unless unit_price_item.unit_price %}hidden{% endunless %} class="{{ unit_price_classes }}">
        {%- assign unit_price_measurement = unit_price_item.unit_price_measurement -%}

        {%- if unit_price_measurement.reference_value != 1 -%}
          {%- assign reference_value = unit_price_measurement.reference_value -%}
        {%- endif -%}

        ({{ unit_price_item.unit_price | money }}/{{ reference_value }}{{ unit_price_measurement.reference_unit }})
      </unit-price>
    {%- endif -%}
  {%- endunless -%}
</price-list>
