{%- render 'section-spacing-collapsing' -%}

{%- assign text_position = section.settings.text_position -%}

<style>
  #shopify-section-{{ section.id }} {
    --section-stack-intro: {% if text_position == 'center' %}60%{% else %}50%{% endif %};
    --section-stack-main: {% if text_position == 'center' %}60%{% else %}50%{% endif %};
  }
</style>

<div {% render 'section-properties' %}>
  <div class="section-stack {% if text_position != 'center' %}section-stack--horizontal{% else %}section-stack--center{% endif %} {% if text_position == 'end' %}section-stack--reverse{% endif %}">
    {%- capture content -%}
      {%- if section.settings.subheading != blank -%}
        <p class="bold">{{ section.settings.subheading | escape }}</p>
      {%- endif -%}

      {%- if section.settings.title != blank -%}
        <h2 class="h2">
          {%- render 'styled-text', content: section.settings.title, text_color: section.settings.heading_color, gradient: section.settings.heading_gradient -%}
        </h2>
      {%- endif -%}
      {{- section.settings.content -}}
    {%- endcapture -%}

    {%- capture subcontent -%}
      <div class="faq-availability">
        {%- if section.settings.team_avatar != blank or section.settings.support_hours != blank or section.settings.answer_time != blank -%}
          <div class="v-stack gap-4">
            {%- if section.settings.team_avatar != blank -%}
              {%- capture sizes -%}{{ section.settings.team_avatar_width }}px{%- endcapture -%}
              {%- capture widths -%}{{ section.settings.team_avatar_width }}, {{ section.settings.team_avatar_width | times: 2 | at_most: section.settings.team_avatar.width }}{%- endcapture -%}
              {%- capture style -%}max-width: {{ section.settings.team_avatar_width }}px{%- endcapture -%}
              {{- section.settings.team_avatar | image_url: width: section.settings.team_avatar.width | image_tag: loading: 'lazy', style: style, sizes: sizes, widths: widths -}}
            {%- endif -%}

            {%- if section.settings.support_hours != blank or section.settings.answer_time != blank -%}
              <div class="v-stack">
                {{- section.settings.support_hours -}}

                {%- if section.settings.answer_time != blank -%}
                  <span class="text-subdued">{{ section.settings.answer_time }}</span>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- if section.settings.button_text != blank -%}
          {% render 'button', content: section.settings.button_text, href: section.settings.button_url, size: 'xl' %}
        {%- endif -%}
      </div>
    {%- endcapture -%}

    {%- if content != blank or subcontent != blank -%}
      <div class="section-stack__intro">
        <div class="v-stack gap-10">
          {%- if content != blank -%}
            <div class="prose {% if text_position == 'center' %}text-center{% endif %}">
              {{- content -}}
            </div>
          {%- endif -%}

          {%- if text_position != 'center' and subcontent != blank -%}
            <div class="hidden lg:block">
              {{- subcontent -}}
            </div>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      <div class="section-stack__main">
        <div
          {% render 'surface',
            class: 'accordion-box rounded',
            background: section.settings.accordion_background,
            text_color: section.settings.accordion_text_color,
            background_fallback: 'bg-secondary'
          %}
        >
          {%- for block in section.blocks -%}
            {%- if block.settings.title != blank and block.settings.content != blank -%}
              {%- capture accordion_content -%}
                <div class="prose">{{ block.settings.content }}</div>
              {%- endcapture -%}

              {%- render 'accordion',
                title: block.settings.title,
                content: accordion_content,
                block: block,
                class: 'animate second_show'
              -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}

    <div
      {% if text_position != 'center' %}
        class="lg:hidden"
      {% endif %}
    >
      {{- subcontent -}}
    </div>
    {% if section.settings.small_content != blank %}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        id="faq_arrrow"
        width="95"
        height="158"
        viewBox="0 0 95 158"
        fill="{{ section.settings.heading_color }}"
      >
        <g clip-path="url(#clip0_1_15)"><path d="M94.3008 2.19981C63.5008 -7.40019 35.1008 16.2998 23.7008 43.2998C8.8008 78.4998 14.6008 117.8 6.6008 154.4C6.4008 155.3 7.8008 155.7 8.00079 154.8C15.4008 120.8 11.0008 84.9998 22.1008 51.6998C27.3008 36.0998 36.0008 21.6998 49.6008 12.0998C62.4008 2.99981 78.6008 -1.10019 93.9008 3.69981C94.8008 3.89981 95.2008 2.49982 94.3008 2.19981Z" fill="{{ section.settings.heading_color }}"/><path d="M0.000798554 142.6C2.1008 147.4 4.2008 152.2 6.3008 156.9C6.5008 157.4 7.2008 157.3 7.5008 157.1C11.7008 153.2 15.7008 149.3 19.7008 145.4C20.4008 144.7 19.3008 143.7 18.6008 144.3C14.6008 148.2 10.5008 152.1 6.4008 156C6.8008 156.1 7.2008 156.1 7.6008 156.2C5.5008 151.4 3.4008 146.6 1.3008 141.9C0.900802 141 -0.299201 141.7 0.000798554 142.6Z" fill="{{ section.settings.heading_color }}"/></g><defs><clipPath id="clip0_1_15"><rect width="94.8" height="157.3" fill="white" transform="translate(94.8008 157.3) rotate(-180)"/></clipPath></defs>
      </svg>
      <h6 class="animate writing-text sixth_show faq_arrow_text" style="color: {{ section.settings.heading_color }};">
        {{ section.settings.small_content | replace:'<p>', '' | replace:'</p>', '' }}
      </h6>
    {% endif %}
  </div>
</div>

{%- comment -%}On the FAQ page, we also output the content with JSON microdata for SEO{%- endcomment -%}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {%- for block in section.blocks -%}
        {
          "@type": "Question",
          "name": {{ block.settings.title | json }},
          "acceptedAnswer": {
            "@type": "Answer",
            "text": {{ block.settings.content | json }}
          }
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "FAQ",
  "class": "shopify-section--faq",
  "tag": "section",
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Question"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Answer",
          "default": "<p>Write content to answer to common questions your customers may have about your products, shipping policies..</p>"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "Structured data is automatically created on FAQ page to improve SEO. [Learn more](https://developers.google.com/search/docs/advanced/structured-data/faqpage)"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "FAQ"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Use this text to share information about your product or shipping policies.</p>"
    },
    {
      "type": "richtext",
      "id": "small_content",
      "label": "Small content"
    },
    {
      "type": "image_picker",
      "id": "team_avatar",
      "label": "Team avatar"
    },
    {
      "type": "range",
      "id": "team_avatar_width",
      "min": 50,
      "max": 350,
      "step": 10,
      "unit": "px",
      "label": "Team avatar width",
      "default": 160
    },
    {
      "type": "text",
      "id": "support_hours",
      "label": "Support operating hours",
      "default": "Our customer support is available Monday to Friday: 8am-8:30pm."
    },
    {
      "type": "text",
      "id": "answer_time",
      "label": "Average answer time",
      "default": "Average answer time: 24h"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    },
    {
      "type": "color",
      "id": "accordion_background",
      "label": "Accordion background"
    },
    {
      "type": "color",
      "id": "accordion_text_color",
      "label": "Accordion text"
    }
  ],
  "presets": [
    {
      "name": "FAQ",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "title": "Do you ship overseas?",
            "content": "<p>Yes, we ship all over the world. Shipping costs will apply, and will be added at checkout. We run discounts and promotions all year, so stay tuned for exclusive deals.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "How long will it take to get my orders?",
            "content": "<p>It depends on where you are. Orders processed here will take 5-7 business days to arrive. Overseas deliveries can take anywhere from 7-16 days. Delivery details will be provided in your confirmation email.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Any question?",
            "content": "<p>You can contact us through our contact page! We will be happy to assist you.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
