{%- render 'section-spacing-collapsing' -%}

<style>
  #shopify-section-{{ section.id }} {
    --banner-content-padding-block-start: var(--spacing-16);
  }

  /*@media screen and (min-width: 700px) {
    #shopify-section-{{ section.id }} {
      --banner-content-padding-block-start: var(--spacing-28);
    }
  }*/
</style>

<div class="blog">
  {%- if blog.articles_count == 0 -%}

    <header {% render 'surface', class: 'blog-banner', text_color: section.settings.banner_text_color, background: section.settings.banner_background, background_fallback: 'bg-secondary' %}>
      <div class="blog-img-box">
        {% if blog.metafields.blog.desktop_banner_image != blank %}
          <div class="blog-banner-img">
            <img src="{{ blog.metafields.blog.desktop_banner_image | img_url:'1920x' }}"{% if blog.metafields.blog.mobile_banner_image != blank %} class="hidden-xs"{% endif %} title="{{ blog.title }}" alt="{{ blog.metafields.blog.desktop_banner_image.alt | default:blog.title }}">
            {% if blog.metafields.blog.mobile_banner_image != blank %}
              <img src="{{ blog.metafields.blog.mobile_banner_image | img_url:'768x' }}" title="{{ blog.title }}" alt="{{ blog.metafields.blog.mobile_banner_image.alt | default:blog.title }}" class="visible-xs">
            {% endif %}
          </div>    
        {% endif %}
      </div>
    
      <div class="blog-content-box">
        <div class="container">    
          <div class="blog-banner-content v-stack gap-10 text-center justify-items-center">
            <div class="v-stack gap-5 sm:gap-8">
              <div class="side-page-wrap"{% if blog.handle == 'mind-journal' %} style="display: none;"{% endif %}>
                <h1 class="h2 side-page-title">
                  {% assign blog_title = blog.title %}
                  <b>{{ blog_title | split:' ' | first }}</b>{{ blog_title | split:' ' | last }}
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="empty-state">
      {% comment %}
        <div class="empty-state__icon-wrapper">
          {%- render 'icon' with 'picto-comment', width: 32, height: 32, stroke_width: 1 -%}
        </div>
      {% endcomment %}

      <div class="prose">
        <h3>Coming Soon...</h3>
        {% comment %}
          <h1 class="h4">{{ 'blog.general.empty_blog' | t }}</h1>
          {%- assign button_content = 'blog.general.back_to_home' | t -%}
          {%- render 'button', size: 'xl', content: button_content, href: routes.root_url -%}
        {% endcomment %}
      </div>
    </div>
    <div class="blog-posts__container container">
      <div class="blog-posts">
        {%- for block in section.blocks -%}
          <div {% render 'surface', class: 'blog-posts-newsletter newsletter_center v-stack gap-6 sm:gap-8 text-center rounded', text_color: block.settings.text_color, background: block.settings.background, background_fallback: 'bg-secondary' %}>
            <div class="blog-posts-newsletter__content v-stack gap-4 justify-items-center sm:gap-6">
              {%- render 'icon' with 'picto-envelope-c', width: 24, height: 24 -%}

              {%- if block.settings.title != blank -%}
                <p class="h4">{{- block.settings.title -}}</p>
              {%- endif -%}

              {%- if block.settings.content != blank -%}
                <div class="prose">
                  {{- block.settings.content -}}
                </div>
              {%- endif -%}
            </div>

            {%- form 'customer', id: 'blog-posts-newsletter-form', class: 'form form--tight' -%}
              <div class="fieldset">
                {% assign is_err = false %}
                {%- if form.posted_successfully? -%}
                  {%- capture success_message -%}{{ 'general.newsletter.subscribed_successfully' | t }}{%- endcapture -%}
                  {%- render 'banner', content: success_message, status: 'success' -%}
                {% endif %}
                
                {%- if form.errors -%}
                  {% assign is_err = true %}
                  {%- capture error_message -%}{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}{%- endcapture -%}
                  {%- render 'banner', content: error_message, status: 'error' -%}
                {% else %}
                  {%- assign icon = 'error' -%}
                  <div class="banner banner--error" style="display: none;">
                    {%- render 'icon' with icon, width: icon_width, height: icon_width, class: 'offset-icon' -%}<p></p>
                  </div>
                  <div class="banner banner--error exist_email" style="display: none;">
                    {%- render 'icon' with icon, width: icon_width, height: icon_width, class: 'offset-icon' -%}<p>Email already subscribed</p>
                  </div>
                {%- endif -%}

                <input type="hidden" name="contact[tags]" value="newsletter">

                {%- assign label = 'blog.comments.email' | t -%}
                {%- render 'input', type: 'email', name: 'contact[email]', label: label, value: form.email, autocomplete: 'email' -%}

                {%- render 'button', content: block.settings.button_text, cls:' newsletter_btn', type: 'submit', size: 'xl', secondary: true -%}
              </div>
            {%- endform -%}

            {%- if block.settings.subtext != blank -%}
              <p class="text-sm text-subdued">{{- block.settings.subtext -}}</p>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  {%- else -%}
    <header {% render 'surface', class: 'blog-banner', text_color: section.settings.banner_text_color, background: section.settings.banner_background, background_fallback: 'bg-secondary' %}>
      <div class="blog-img-box">
        {% if blog.metafields.blog.desktop_banner_image != blank %}
          <div class="blog-banner-img">
            <img src="{{ blog.metafields.blog.desktop_banner_image | img_url:'1920x' }}"{% if blog.metafields.blog.mobile_banner_image != blank %} class="hidden-xs"{% endif %} title="{{ blog.title }}" alt="{{ blog.metafields.blog.desktop_banner_image.alt | default:blog.title }}">
            {% if blog.metafields.blog.mobile_banner_image != blank %}
              <img src="{{ blog.metafields.blog.mobile_banner_image | img_url:'768x' }}" title="{{ blog.title }}" alt="{{ blog.metafields.blog.mobile_banner_image.alt | default:blog.title }}" class="visible-xs">
            {% endif %}
          </div>    
        {% endif %}
      </div>
    
      <div class="blog-content-box">
        <div class="container">    
          <div class="blog-banner-content v-stack gap-10 text-center justify-items-center">
            <div class="v-stack gap-5 sm:gap-8">
              <div class="side-page-wrap"{% if blog.handle == 'mind-journal' %}style="display: none;"{% endif %}>
                <h1 class="h2 side-page-title">
                  {% assign blog_title = blog.title %}
                  <b>{{ blog_title | split:' ' | first }}</b>{{ blog_title | split:' ' | last }}
                </h1>
              </div>
            </div>
          </div>
  
          {%- if section.settings.show_tags and blog.all_tags.size > 0 -%}
            <div class="scroll-area bleed sm:unbleed justify-items-center">
              <div class="blog-filter-list">
                <ul class="h-stack bold text-base" role="tablist">
                  <li role="tab" aria-selected="{% if current_tags == blank %}true{% else %}false{% endif %}">
                    <a href="{{ blog.url }}" class="all_post{% if current_tags == blank %} selected{% endif %}">{{ 'blog.general.all_posts' | t }}</a>
                  </li>
  
                  {% assign month_list = "January,February,March,April,May,June,July,August,September,October,November,December" | split:',' %}
                  {% assign char = '' %}
                  {% for tag in blog.all_tags %}
                    {% capture first_char %}{{ tag }}{% endcapture %}
                    {% unless char contains first_char %}
                      {% assign char = char | join:',' %}
                      {% assign char = char | append:',' | append:first_char %}
                      {% assign char = char | split:',' %}
                    {% endunless %}
                  {% endfor %}
  
                  {% if blog.handle == 'mind-journal' %}
                    {% for month in month_list %}
                      {% if char contains month %}
                        <li role="tab" aria-selected="{% if current_tags contains month %}true{% else %}false{% endif %}">
                          <a href="{{ blog.url | append:'/tagged/' | append:month }}">{{ month }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    {% for tab in char %}
                      {% if tab != blank %}
                        <li role="tab" aria-selected="{% if current_tags contains tab %}true{% else %}false{% endif %}">
                          <a href="{{ blog.url | append:'/tagged/' | append:tab }}">{{ tab | replace:'-', ' ' }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </ul>
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </header>

    <div class="blog-posts__container container">
      {%- paginate blog.articles by section.settings.articles_per_page -%}
        <div class="blog-posts">
          {% assign article_cnt = blog.articles_count %}
          {%- for article in blog.articles -%}
            {%- assign article_index = forloop.index -%}

            {%- if section.blocks.size > 0 and article_cnt > 1 -%}
              {%- for block in section.blocks -%}
                {%- assign block_position = block.settings.position | at_most: section.settings.articles_per_page -%}
                {%- if block_position == article_index -%}
                  <div {% render 'surface', class: 'blog-posts-newsletter v-stack gap-6 sm:gap-8 text-center rounded', text_color: block.settings.text_color, background: block.settings.background, background_fallback: 'bg-secondary' %}>
                    <div class="blog-posts-newsletter__content v-stack gap-4 justify-items-center sm:gap-6">
                      {%- render 'icon' with 'picto-envelope-c', width: 24, height: 24 -%}

                      {%- if block.settings.title != blank -%}
                        <p class="h4">{{- block.settings.title -}}</p>
                      {%- endif -%}

                      {%- if block.settings.content != blank -%}
                        <div class="prose">
                          {{- block.settings.content -}}
                        </div>
                      {%- endif -%}
                    </div>

                    {%- form 'customer', id: 'blog-posts-newsletter-form', class: 'form form--tight' -%}
                      <div class="fieldset">
                        {% assign is_err = false %}
                        {%- if form.posted_successfully? -%}
                          {%- capture success_message -%}{{ 'general.newsletter.subscribed_successfully' | t }}{%- endcapture -%}
                          {%- render 'banner', content: success_message, status: 'success' -%}
                        {% endif %}
                        
                        {%- if form.errors -%}
                          {% assign is_err = true %}
                          {%- capture error_message -%}{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}{%- endcapture -%}
                          {%- render 'banner', content: error_message, status: 'error' -%}
                        {% else %}
                          {%- assign icon = 'error' -%}
                          <div class="banner banner--error" style="display: none;">
                            {%- render 'icon' with icon, width: icon_width, height: icon_width, class: 'offset-icon' -%}<p></p>
                          </div>
                          <div class="banner banner--error exist_email" style="display: none;">
                            {%- render 'icon' with icon, width: icon_width, height: icon_width, class: 'offset-icon' -%}<p>Email already subscribed</p>
                          </div>
                        {%- endif -%}

                        {% comment %}
                          {%- if form.errors -%}
                            {%- assign content = form.errors | default_errors -%}
                            {%- render 'banner', status: 'error', content: content -%}
                          {%- endif -%}
                        {% endcomment %}
                        
                        <input type="hidden" name="contact[tags]" value="newsletter">

                        {%- assign label = 'blog.comments.email' | t -%}
                        {%- render 'input', type: 'email', name: 'contact[email]', label: label, value: form.email, autocomplete: 'email' -%}

                        {%- render 'button', content: block.settings.button_text, cls:' newsletter_btn', type: 'submit', size: 'xl', secondary: true -%}
                      </div>
                    {%- endform -%}

                    {%- if block.settings.subtext != blank -%}
                      <p class="text-sm text-subdued">{{- block.settings.subtext -}}</p>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}

            {%- if section.settings.feature_first_article and forloop.first -%}
              {%- assign background_color = article.metafields.banner.background_color.value | default: section.settings.feature_article_background -%}
              {%- assign text_color = article.metafields.banner.text_color.value | default: section.settings.feature_article_text_color -%}
              {%- capture sizes -%}(max-width: 999px) 100vw, calc(min(100vw, {{ settings.page_width }}px) * 0.65){%- endcapture -%}
              {%- render 'blog-post-card', article: article, featured: section.settings.feature_first_article, show_excerpt: section.settings.show_excerpt, show_date: section.settings.show_date, show_author: section.settings.show_author, show_comments_count: section.settings.show_comments_count, show_category: false, background: background_color, text_color: text_color, sizes: sizes -%}
            {%- else -%}
              {%- capture sizes -%}(max-width: 699px) 100vw, (max-width: 1149px) calc(100vw / 2 - 40px), (max-width: 1399px) calc(min(100vw, {{ settings.page_width }}px) / 3 - 40px) , calc(min(100vw, {{ settings.page_width }}px) / 3 - 80px) {%- endcapture -%}
              {%- render 'blog-post-card', article: article, show_excerpt: section.settings.show_excerpt, show_date: section.settings.show_date, show_author: section.settings.show_author, show_comments_count: section.settings.show_comments_count, show_category: false, sizes: sizes -%}
            {%- endif -%}

            {%- if section.blocks.size > 0 and article_cnt == 1 -%}
              {%- for block in section.blocks -%}
                <div {% render 'surface', class: 'blog-posts-newsletter newsletter_center v-stack gap-6 sm:gap-8 text-center rounded', text_color: block.settings.text_color, background: block.settings.background, background_fallback: 'bg-secondary' %}>
                  <div class="blog-posts-newsletter__content v-stack gap-4 justify-items-center sm:gap-6">
                    {%- render 'icon' with 'picto-envelope-c', width: 24, height: 24 -%}

                    {%- if block.settings.title != blank -%}
                      <p class="h4">{{- block.settings.title -}}</p>
                    {%- endif -%}

                    {%- if block.settings.content != blank -%}
                      <div class="prose">
                        {{- block.settings.content -}}
                      </div>
                    {%- endif -%}
                  </div>

                  {%- form 'customer', id: 'blog-posts-newsletter-form', class: 'form form--tight' -%}
                    <div class="fieldset">
                      {% assign is_err = false %}
                      {%- if form.posted_successfully? -%}
                        {%- capture success_message -%}{{ 'general.newsletter.subscribed_successfully' | t }}{%- endcapture -%}
                        {%- render 'banner', content: success_message, status: 'success' -%}
                      {% endif %}
                      
                      {%- if form.errors -%}
                        {% assign is_err = true %}
                        {%- capture error_message -%}{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}{%- endcapture -%}
                        {%- render 'banner', content: error_message, status: 'error' -%}
                      {% else %}
                        {%- assign icon = 'error' -%}
                        <div class="banner banner--error" style="display: none;">
                          {%- render 'icon' with icon, width: icon_width, height: icon_width, class: 'offset-icon' -%}<p></p>
                        </div>
                        <div class="banner banner--error exist_email" style="display: none;">
                          {%- render 'icon' with icon, width: icon_width, height: icon_width, class: 'offset-icon' -%}<p>Email already subscribed</p>
                        </div>
                      {%- endif -%}

                      <input type="hidden" name="contact[tags]" value="newsletter">

                      {%- assign label = 'blog.comments.email' | t -%}
                      {%- render 'input', type: 'email', name: 'contact[email]', label: label, value: form.email, autocomplete: 'email' -%}

                      {%- render 'button', content: block.settings.button_text, cls:' newsletter_btn', type: 'submit', size: 'xl', secondary: true -%}
                    </div>
                  {%- endform -%}

                  {%- if block.settings.subtext != blank -%}
                    <p class="text-sm text-subdued">{{- block.settings.subtext -}}</p>
                  {%- endif -%}
                </div>
              {%- endfor -%}
            {%- endif -%}
          
          {%- endfor -%}
        </div>
        {%- render 'pagination', paginate: paginate -%}
      {%- endpaginate -%}
    </div>
  {%- endif -%}
</div>

<script>
$(document).ready(function(){
  var url = window.location.href; 
  var str = "=newsletter";
  {% unless is_err %}
    if(url.indexOf(str) != -1){
      $('.exist_email').show();
    }
  {% endunless %}
});
</script>
  
{% schema %}
{
  "name": "Blog",
  "class": "shopify-section--main-blog",
  "tag": "section",
  "blocks": [
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Write something about what your customers will receive by subscribing to your newsletter.</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button",
          "default": "Subscribe"
        },
        {
          "type": "text",
          "id": "subtext",
          "label": "Subtext"
        },
        {
          "type": "range",
          "id": "position",
          "label": "Position in grid",
          "min": 1,
          "max": 24,
          "step": 1,
          "default": 5
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": true,
      "info": "Categorize your blog posts by [adding tags](https://help.shopify.com/en/manual/online-store/blogs/writing-blogs#add-tags-to-a-blog-post)."
    },
    {
      "type": "color",
      "id": "banner_background",
      "label": "Background",
      "info":"The background color will appear when the banner image is empty"
    },
    {
      "type": "color",
      "id": "banner_text_color",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Blog post listing"
    },
    {
      "type": "range",
      "id": "articles_per_page",
      "label": "Articles per page",
      "min": 5,
      "max": 24,
      "step": 1,
      "default": 6
    },
    {
      "type": "checkbox",
      "id": "feature_first_article",
      "label": "Feature first blog post",
      "default": true
    },
    {
      "type": "color",
      "id": "feature_article_background",
      "label": "Featured article background"
    },
    {
      "type": "color",
      "id": "feature_article_text_color",
      "label": "Featured article text"
    },
    {
      "type": "header",
      "content": "Blog post card"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show content",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": false
    }
  ]
}
{% endschema %}