{%- render 'section-spacing-collapsing' -%}

{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
CSS
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<style>
  
/*   #shopify-section-{{ section.id }} .product-list {
    --product-list-gap: {% if section.settings.stack_products %}{% if section.settings.products_per_row_mobile == '1' %}var(--grid-gutter){% else %}var(--product-list-row-gap){% endif %} var(--spacing-2){% else %}var(--product-list-row-gap) var(--product-list-column-gap){% endif %};
    --product-list-items-per-row: {{ section.settings.products_per_row_mobile | times: 1 }};
    --product-list-carousel-item-width: 74vw;
    --product-list-grid: {% if section.settings.stack_products %}auto / repeat(var(--product-list-items-per-row), minmax(0, 1fr)){% else %}auto / auto-flow var(--product-list-carousel-item-width){% endif %};
  } */

  {% comment %}
  #shopify-section-{{ section.id }} .product-list {
    --product-list-items-per-row: {{ section.settings.products_per_row_desktop }};
    --product-list-carousel-item-width: {% if section.settings.products_per_row_desktop == 3 %}33.33%;{% elsif section.settings.products_per_row_desktop == 4 %}25%;{% else %}50%;{% endif %}
    --product-list-gap: 0;
    --product-list-grid: {% if section.settings.stack_products %}auto / repeat(var(--product-list-items-per-row), minmax(0, 1fr)){% else %}auto / auto-flow var(--product-list-carousel-item-width){% endif %};
  }

  @media screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} .product-list {
      --product-list-items-per-row: {{ section.settings.products_per_row_mobile | times: 1 }};
      --product-list-carousel-item-width: {% if section.settings.products_per_row_mobile == 2 %}50%;{% else %}50%;{% endif %}
      --product-list-gap: 0;
      --product-list-grid: {% if section.settings.stack_products %}auto / repeat(var(--product-list-items-per-row), minmax(0, 1fr)){% else %}auto / auto-flow var(--product-list-carousel-item-width){% endif %};
    }
  }
  
 
  @media screen and (min-width: 700px) {
    #shopify-section-{{ section.id }} .product-list {
      --product-list-gap: var(--spacing-13);
      /*--product-list-gap: var(--product-list-row-gap) var(--product-list-column-gap);*/
      --product-list-items-per-row: 2;
      /*--product-list-carousel-item-width: 36vw;*/
    }
  }

  /*@media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} .product-list {
      --product-list-items-per-row: {{ section.settings.products_per_row_desktop }};
      --product-list-carousel-item-width: calc(var(--container-inner-width) / {{ section.settings.products_per_row_desktop }} - (var(--product-list-column-gap) / {{ section.settings.products_per_row_desktop }} * {{ section.settings.products_per_row_desktop | minus: 1 }}));
    }
  }*/
  @media screen and (min-width: 1000px){
    #shopify-section-template--17557796028729__9d406a18-e6d7-4fab-b116-c6dee79af995 .product-list {
     --product-list-items-per-row: {{ section.settings.products_per_row_desktop }};
     --product-list-carousel-item-width: calc(var(--container-inner-width) / {{ section.settings.products_per_row_desktop }} - (var(--spacing-33) / {{ section.settings.products_per_row_desktop }} * {{ section.settings.products_per_row_desktop | minus: 1 }}));
    }
  }
  {% endcomment %}
</style>

{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
LIQUID
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<div {% render 'section-properties' %}>
  <div class="section-stack">
    <img src="https://cdn.shopify.com/s/files/1/0691/8062/1113/files/pro_smear_2.png?v=1674478401" id="recommend_left_texture" alt="texture">
    {% comment %}
    <img src="https://cdn.shopify.com/s/files/1/0691/8062/1113/files/568x568.jpg?v=1681899735" id="recommend_left_texture" alt="texture">
    {% endcomment %}
    {% assign heading = section.settings.title | replace:'<p>', '' | replace:'</p>', '' %}
    {%- render 'section-header', subheading: section.settings.subheading, heading: heading, heading_color: section.settings.heading_color, heading_gradient: section.settings.heading_gradient, content: section.settings.content -%}

    <div class="scrollable-with-controls">
      <product-recomend>
      {%- assign scroll_area_id = 'scroll-area-' | append: section.id -%}
      {%- if section.settings.products.count > 0 -%}
        <div selector="product-card">
          <div class="{% if section.settings.stack_products %}product-stack-grid{% else %}swiper-container product-recom-grid-slider-new{% endif %}">
            <product-list class="product-list{% if section.settings.products_per_row_desktop == 2 %} product-grid-two{% endif %}{% if section.settings.products_per_row_desktop == 4 %} product-grid-four{% endif %}{% if section.settings.products_per_row_mobile == "1" %} product-grid-xsone{% endif %}{% if section.settings.stack_products %} product-stack-wrapper{% else %} swiper-wrapper{% endif %}">
              {% assign total_pro = 0 %}
              {%- for product in section.settings.products -%}
                {%- render 'product-card', product: product, class: ' swiper-slide', stacked: section.settings.stack_products, background: section.settings.product_card_background, text_color: section.settings.product_card_text_color, show_badges: true -%}
                {% assign total_pro = total_pro | plus:1 %}
              {%- endfor -%}
            </product-list>

            {% unless section.settings.stack_products %}
              {% if section.settings.show_progress_bar %}
                <div class="scrollbar">
                  <div class="swiper-scrollbar"></div>
                  <div aria-controls="{{ observes }}" class="scrollbar__buttons">
                    <button class="swiper-button-prev circle-button ring group" aria-controls="{{ observes }}" disabled>
                      <span class="sr-only">{{ 'general.accessibility.previous' | t }}</span>
                      <span class="animated-arrow animated-arrow--reverse"></span>
                    </button>              
                    <button class="swiper-button-next circle-button ring group" aria-controls="{{ observes }}">
                      <span class="sr-only">{{ 'general.accessibility.next' | t }}</span>
                      <span class="animated-arrow"></span>
                    </button>
                  </div>
                </div>
              {% else %}
                <div class="collections__controls">
                  <button class="swiper-button-prev circle-button ring group"><span class="animated-arrow animated-arrow--reverse"></span></button>
                  <div class="swiper-pagination page-dots"></div>
                  <button class="swiper-button-next circle-button ring group"><span class="animated-arrow"></span></button>
                </div>
              {% endif %}
            {% endunless %}
          </div>
        </div>
      {%- else -%}
        <product-recommendations product="{{ product.id }}" limit="{{ section.settings.recommendations_count }}" data-mob="{{ section.settings.products_per_row_mobile | times:1 }}" data-desk="{{ section.settings.products_per_row_desktop | times:1 }}" intent="related" class="">
          {%- if recommendations.performed and recommendations.products_count > 0 -%}
            <div selector="product-card">
              <div class="{% if section.settings.stack_products %}product-stack-grid{% else %}swiper-container product-recom-grid-slider{% endif %}">
                <product-list class="product-list{% if section.settings.products_per_row_desktop == 2 %} product-grid-two{% endif %}{% if section.settings.products_per_row_desktop == 4 %} product-grid-four{% endif %}{% if section.settings.products_per_row_mobile == '1' %} product-grid-xsone{% endif %}{% if section.settings.products_per_row_mobile == 1 %} product-grid-xsone{% endif %}{% if section.settings.stack_products %} product-stack-wrapper{% else %} swiper-wrapper{% endif %}">
                  {% assign total_pro = 0 %}
                  {%- for product in recommendations.products -%}
                    {%- render 'product-card', product: product, class: ' swiper-slide', stacked: section.settings.stack_products, background: section.settings.product_card_background, text_color: section.settings.product_card_text_color, show_badges: true -%}
                    {% assign total_pro = total_pro | plus:1 %}
                  {%- endfor -%}
                </product-list>

                {% unless section.settings.stack_products %}
                  {% if section.settings.show_progress_bar %}
                    <div class="scrollbar">
                      <div class="swiper-scrollbar"></div>
                      <div aria-controls="{{ observes }}" class="scrollbar__buttons">
                        <button class="swiper-button-prev circle-button ring group" aria-controls="{{ observes }}" disabled>
                          <span class="sr-only">{{ 'general.accessibility.previous' | t }}</span>
                          <span class="animated-arrow animated-arrow--reverse"></span>
                        </button>              
                        <button class="swiper-button-next circle-button ring group" aria-controls="{{ observes }}">
                          <span class="sr-only">{{ 'general.accessibility.next' | t }}</span>
                          <span class="animated-arrow"></span>
                        </button>
                      </div>
                    </div>
                  {% else %}
                    <div class="collections__controls">
                      <button class="swiper-button-prev circle-button ring group"><span class="animated-arrow animated-arrow--reverse"></span></button>
                      <div class="swiper-pagination page-dots"></div>
                      <button class="swiper-button-next circle-button ring group"><span class="animated-arrow"></span></button>
                    </div>
                  {% endif %}
                {% endunless %}
              </div>
            </div>
          {%- endif -%}
        </product-recommendations>
      {%- endif -%}
      </product-recomend>
    </div>
    {% comment %}
      <img src="https://cdn.shopify.com/s/files/1/0691/8062/1113/files/400x400.jpg?v=1681899735" id="recommend_left_texture_2" alt="texture">
    {% endcomment %}
  </div>
</div>

<script type="lazyload_js">
  var swiper = new Swiper(document.querySelector(".product-recom-grid-slider-new"), {
    slidesPerView: {{ section.settings.products_per_row_mobile }},
    spaceBetween: 10,
    autoplayDisableOnInteraction: false,
    pagination: {
      el: ".swiper-pagination",
      clickable: true
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      768: {
        slidesPerView: {{ section.settings.products_per_row_desktop }},
        spaceBetween: 20
      },
    },
    scrollbar: {
      el: ".swiper-scrollbar",
    },
  });
</script>
  
{% schema %}
{
  "name": "Related products",
  "templates": ["product"],
  "class": "shopify-section--product-recommendations",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Dynamic recommendations change and improve with time. Create manual product recommendations using the Shopify Search & Discovery app. [Learn more](https://help.shopify.com/en/manual/online-store/search-and-discovery/product-recommendations)."
    },
    {
      "type": "range",
      "id": "recommendations_count",
      "min": 2,
      "max": 10,
      "label": "Dynamic recommendations count",
      "default": 6
    },
    {
      "type": "product_list",
      "id": "products",
      "limit": 20,
      "label": "Manual recommendations",
      "info": "Replaces automatic recommendations when selected."
    },
    {
      "type": "checkbox",
      "id": "stack_products",
      "label": "Stack products",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_progress_bar",
      "label": "Show carousel progress bar",
      "default": false
    },
    {
      "type": "select",
      "id": "products_per_row_mobile",
      "label": "Products per row (mobile)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "1"
    },
    {
      "type": "range",
      "id": "products_per_row_desktop",
      "min": 2,
      "max": 4,
      "label": "Products per row (desktop)",
      "default": 3
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    },
    {
      "type": "color",
      "id": "product_card_background",
      "label": "Product card background"
    },
    {
      "type": "color",
      "id": "product_card_text_color",
      "label": "Product card text"
    }
  ],
  "presets": [
    {
      "name": "Related products"
    }
  ]
}
{% endschema %}